# Put in $HOME/.gitconfig or edit using `git config --global --edit`

[user]
        name = Alejandro Endo
        email = <CONFIGURE_ME>
[merge]
        conflictstyle = diff3
[pull]
        rebase = true
[alias]
        st = status
        co = checkout
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --numstat
        br = branch
        ci = commit --verbose
        unstage = reset HEAD --
        # Clean local branches that are already merged to master
        clean-branches = !git branch --merged master | egrep -v \"(^\\*|master|dev)$\" | xargs -r git branch -d
[fetch]
        prune = true
[rebase]
        autoStash = true
