# Put in $HOME/.gitconfig or edit using `git config --global --edit`

[user]
        name = Alejandro Endo
        email = <CONFIGURE_ME>
[merge]
        conflictstyle = diff3
[pull]
        rebase = true
[alias]
        st = status
        co = checkout
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        br = branch
        ci = commit --verbose


